<div class="ctastrip uk-margin-large-top">
    {% if post.meta('call_to_action_box') == true %}

       <div class="uk-container uk-container-center">
            <div class="uk-padding-large uk-flex uk-light">

                <div class="uk-padding-small uk-padding-remove-top uk-padding-remove-bottom">
                   {%  if post.meta('cta_text') %}
                  <h4 class="">{{ post.meta('cta_text')}} </h4>
                  {% endif %}
                </div>

                  {% for button in post.meta('calls_to_action') %}
                    <div class="uk-padding-small uk-padding-remove-top uk-padding-remove-bottom"> 
                      <a href="{{button.link}}" class="uk-button uk-button-default">{{button.title}}</a> </div>
                  {% endfor %}
                  
                
                
              
          </div>
      </div>

    {% endif %}
</div>

<footer id="footer" class="uk-footer uk-padding">
    <div class="uk-container uk-container-center">
      <div class="uk-child-width-1-3@s uk-padding-large uk-padding-remove-vertical" uk-grid>

         
              {{ footer_widgets }}
          


      </div><!-- /uk-grid -->
      <div class="uk-text-center uk-margin-top">Copyright {{"now"|date('Y')}}</div>
    </div><!-- /container -->
