
<div class="block block-1-2-image-box-2-2-text-box" style="background-color:{{background_colour}}">
	<div class="uk-container uk-container-center">
		<div class="uk-grid">
			<div class="uk-width-1-2@m">
			    <div class="block-1-2-image-box-2-2-text-box-image uk-background-norepeat uk-background-cover" style="background-image: url({{image}})"></div>
			</div>
		    <div class="uk-width-1-2@m">
		        <div class="block-1-2-image-box-2-2-text-box-content uk-padding-large {{ background_colour == '#fff' ? 'uk-dark' : 'uk-light' }}">
			          <h3>{{headline}}</h3>
			          <span class="block-1-2-image-box-2-2-text-box-body">{{body_text}}</span>
		        </div>       
		    </div> 

	    </div><!-- /grid -->
	</div>
</div><!-- /block -->
