{% extends "/blocks/section-loop.twig" %}

{% block section %}
<div class="block-1-2-image-box-2-2-text-box">
 <div>
                <a href="#" class=" uk-background-secondary uk-padding-small"> {{item.title}}</a>
                <div class="">
                    <div class="uk-card uk-card-primary uk-padding">{{item.content}}</div>
                    <div class="uk-padding">
                        {% for tool in item.links_and_resources %}
                            {% set href = tool.link ? tool.link.guid : tool.url %}
                            {% set type = tool.link ? 'link' : 'world' %}
                            {% set window = tool.link ? '_self' : '_blank' %}
                            <a href="{{href}}"class="uk-button uk-button-primary uk-margin-small-bottom uk-padding-small" target="_blank" href=""><span uk-icon={{type}}></span> {{tool.name}}</a>
                        {% endfor %}
                    </div>
                </div>
              
            </div>
{% endblock %}